* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Heebo', sans-serif; }

.wrapper {
  width: 60%;
  margin: 0 auto; }

.header {
  margin-top: 0;
  height: 65px;
  width: 100%;
  background-color: #FFFFFF; }
  .header .header-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-top: 15px; }
    .header .header-navbar .header-navbar__item {
      text-decoration: none;
      margin: 21px 21px;
      font-size: 20px;
      color: black;
      font-weight: 500; }
      .header .header-navbar .header-navbar__item:hover {
        color: #ff6464; }
  .header #menu-btn {
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    color: red;
    background-color: black;
    display: none; }
    .header #menu-btn:hover {
      color: white;
      background-color: #21243D; }

.about {
  background: #ffffff; }
  .about .about-main {
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .about .about-main .about-main__description {
      color: #21243D;
      padding-bottom: 40px; }
      .about .about-main .about-main__description .title {
        font-weight: 700;
        font-size: 44px;
        padding: 15px 15px;
        margin: 35px 35px 5px 5px; }
      .about .about-main .about-main__description .paragraph {
        padding: 15px 12px;
        font-weight: 400;
        font-size: 16px;
        margin: 5px 65px 5px 5px; }
    .about .about-main .about-main__img {
      padding: 10px 15px;
      margin-bottom: 115px;
      margin-right: 20px; }
    .about .about-main .button {
      background: #FF6464;
      color: #ffffff;
      height: 47px;
      width: 208px;
      font-size: 20px;
      font-weight: 500;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 20px;
      margin-bottom: 36px; }

@media (max-width: 768px) {
  .header .header-navbar {
    position: absolute;
    /* top: 115%; */
    right: 20px;
    width: 100%;
    /*transform: scale(0);
    transform-origin: top right;
    opacity: 0; */ }
    .header .header-navbar .header-navbar__item {
      font-size: 20px;
      display: block;
      padding: 11px;
      margin: 11px;
      opacity: 0; }
      .header .header-navbar .header-navbar__item:hover {
        background: #F5DEB3FF; }
    .header .header-navbar.active .header-navbar__item {
      opacity: 1; }
  .header #menu-btn {
    display: initial; } }
.recent-posts {
  background-color: #edf7fa; }
  .recent-posts .recent-posts__content {
    height: 100%; }
    .recent-posts .recent-posts__content .recent-posts__content-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      padding: 5px 7px; }
      .recent-posts .recent-posts__content .recent-posts__content-top .recent-posts__content-top__name {
        font-weight: 400;
        font-size: 22px;
        width: 50%;
        margin-left: 12px; }
      .recent-posts .recent-posts__content .recent-posts__content-top .recent-posts__content-top__view {
        padding: 5px 7px;
        text-decoration: none;
        color: #00a8cc;
        font-size: 16px;
        margin-right: 20px; }
    .recent-posts .recent-posts__content .recent-posts__content-bottom {
      display: flex;
      justify-content: space-between; }
      .recent-posts .recent-posts__content .recent-posts__content-bottom .recent-posts__content-card {
        width: 518px;
        background-color: #FFFFFF;
        border-radius: 4px;
        margin: 12px 25px; }
        .recent-posts .recent-posts__content .recent-posts__content-bottom .recent-posts__content-card .title {
          padding: 10px 20px;
          font-weight: 700;
          font-size: 26px;
          color: #21243d; }
        .recent-posts .recent-posts__content .recent-posts__content-bottom .recent-posts__content-card .data {
          display: flex;
          justify-content: left;
          align-items: center;
          padding: 10px 15px;
          color: #21243d;
          font-size: 18px;
          font-weight: 400; }
          .recent-posts .recent-posts__content .recent-posts__content-bottom .recent-posts__content-card .data .data-time {
            padding: 4px 6px; }
          .recent-posts .recent-posts__content .recent-posts__content-bottom .recent-posts__content-card .data span {
            padding: 4px 6px; }
          .recent-posts .recent-posts__content .recent-posts__content-bottom .recent-posts__content-card .data .data-name {
            padding: 4px 6px; }
        .recent-posts .recent-posts__content .recent-posts__content-bottom .recent-posts__content-card .paragraph {
          padding: 15px; }

.featured-works {
  width: 100%;
  background: #ffffff; }
  .featured-works .featured-works__content .featured-works__content-tittle {
    height: 60px;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    color: #21243d;
    padding: 5px 7px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: left; }
  .featured-works .featured-works__content .featured-works__content-items {
    padding-bottom: 60px; }
    .featured-works .featured-works__content .featured-works__content-items .featured-works__content-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      width: 96%;
      background: #ffffff;
      border-bottom: 1px solid darkgrey;
      padding-bottom: 25px;
      padding-top: 30px; }
      .featured-works .featured-works__content .featured-works__content-items .featured-works__content-item .img {
        align-items: center; }
      .featured-works .featured-works__content .featured-works__content-items .featured-works__content-item .description {
        padding: 20px 15px;
        font-family: 'Heebo', sans-serif; }
        .featured-works .featured-works__content .featured-works__content-items .featured-works__content-item .description .description-name {
          font-size: 30px;
          font-weight: bold;
          color: #21243d; }
        .featured-works .featured-works__content .featured-works__content-items .featured-works__content-item .description .yearNtag {
          padding-bottom: 15px; }
          .featured-works .featured-works__content .featured-works__content-items .featured-works__content-item .description .yearNtag .year {
            background: #142850;
            height: 25px;
            width: 62px;
            border-radius: 12px;
            color: #ffffff;
            font-size: 18px;
            font-weight: 900; }

.footer {
  background: #ffffff; }
  .footer .footer-app {
    height: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .footer-app i {
      padding: 35px;
      font-size: 30px; }
  .footer .footer-copyright {
    text-align: center;
    margin: 40px 60px;
    padding-bottom: 50px; }

/*# sourceMappingURL=main.css.map */
