* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: firebrick;
  height: 2041px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.header {
  margin-top: 0;
  height: 595px;
  width: 100%;
  background-color: #FFFFFF;
  .header-top {
    height: 15%;
    border: 1px solid yellow;

    .header-navbar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none;
      padding-top: 15px;
      .header-navbar__item {
        text-decoration: none;
        margin: 21px 21px;
        font-size: 20px;
        color: black;
        font-weight: 500;
      }
    }

    #menu-btn {
      cursor: pointer;
      font-size: 20px;
      padding: 10px 15px;
      border-radius: 4px;
      color: red;
      background-color: black;
      display: none;

      &:hover {
        color: white;
        background-color: #21243D;
      }
    }
  }

  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85%;

    .header-bottom__description {
      color: #21243D;

      h1 {
        padding: 0;
        margin-top: 15px;
        margin-bottom: 20px;
      }
    }

    .header-bottom__img {
      margin-left: 115px;
      margin-right: 120px;
    }
  }
}

@media (max-width:768px) {
  .header {

    .header-navbar {
      position: absolute;
      top: 115%;
      right: 20px;
      background: white;
      box-shadow: blueviolet;
      border: greenyellow;
      border-radius: 3px;
      width: 240px;
      transform: scale(0);
      transform-origin: top right;
      opacity: 0;

      .header-navbar__item {
        font-size: 20px;
        display: block;
        padding: 11px;
        margin: 11px;

        &:hover {
          background: #F5DEB3FF;
        }
      }
    }

    .active {
      transform: scale(1);
      opacity: 1;
    }

    #menu-btn {
      display: initial;
    }
  }
}

.recent-posts {
  background-color: #edf7fa;

  .recent-posts__content {
    border: 5px solid red;
    height: 100%;

    .recent-posts__content-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .recent-posts__content-top__name {
        font-weight: 400;
        font-size: 22px;
        width: 50%;
      }

      .recent-posts__content-top__view {
        margin-left: 350px;
      }
    }

    .recent-posts__content-bottom {

      display: flex;
      justify-content: center;

      .recent-posts__content-card {
        width: 418px;
        background-color: #FFFFFF;
        border-radius: 4px;
        margin: 20px 25px;

        h2 {
          padding: 10px 20px;
        }

        .data {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 55px;
        }

        .paragraph {
          padding: 15px;
        }
      }
    }
  }
}

.featured-works {
  width: 100%;
  background: #ffffff;

  .featured-works__content {
    border: 2px solid rgb(182, 32, 32);

    .featured-works__content-top {
      height: 60px;
      border: 1px solid yellow;
      text-align: left;
      margin: 15px 16px;
      h2 {
        font-weight: 400;
        font-size: 24px;
        color: #21243d;
      }
    }

    .featured-works__content-items {

      .featured-works__content-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        height: 180px;
        width: 80%;
        background: saddlebrown;
        margin-bottom: 25px;
      }

    }
  }
}

.footer {
  height: 182px;
  background: #ffffff;

  .footer-app {
    height: 100%;
    border: 2px solid grey ;
  }
}